.department-logo{
    display: flex;
    
}
.top{
    margin-right: 320px;
}

.query{
    display: grid;
    place-items: center;
    padding: 10px;
}

.search-button{
    font-size: 17px;
    float: left;
    width: 100%;
    background: #fcfafa;
    border-radius: 13px;
}

.bar{
    background-color: #f4f4f4;
    width: 300px;
    height: 27px;
    border-radius: 13px;
    box-sizing: content-box;
}

.button{
    background-color: #cfcaca;
}
.button:hover{
    box-shadow: 2px 2px 4px #5a1515
}
.nav-container{
    background-color: #919199;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    text-decoration-line: none;
    width: fit-content;
    
}
.about-content{
    display: flex;
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 13px;
}
.about-content:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
.about-content img{
    max-width: 450px;
    max-height: 300px;
    margin-left: 10px;
    margin-top: -25px;
    border-radius: 10px;
}
.about-content p{
    font-size: 17pt;
    margin-top: 18px;
}
.section-header{
    color: #363434;
    font-size: 24pt;
    font-weight: bold;
    margin-top: -3px;
    margin-bottom: -10px;
}
.section-header:hover{
    background-color: rgba(255, 255, 255, 0.4);
    width: fit-content;
    border-radius: 13px;
}
.nav-items{
    vertical-align: middle;
    border-right: 2px solid;
    padding-right: 17px;
    padding-left: 15px;
    color: rgb(218, 210, 210);
    text-decoration: none;
    text-align: middle;
    font-size: 13pt;
    padding-bottom: 6px;
}
.nav-items:hover{
    background-color: #85858a;
    box-shadow: 0.5px 0.5px 3px #5a1515;
}
.mainbody{
    padding: 20px;
    margin: 1px;
    background-image: url('../Media_files/back15.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-footer{
    display: grid;
    background-color: #191970;
    width: 1358px;
    margin-left: -21px;
    margin-bottom: -30px;
}

.footer-elements{
    display: flex;
    color: rgb(219, 221, 221);
    margin-left: 15px;
    
}
.footer-images{
    border-radius: 50%;
    height: 45px;
    margin-right: 10px;
    margin-left: 5px;
}
.footer-images:hover{
    box-shadow: 3px 4px 7px #5a1515
}

.header{
    font-size: 16pt;
}

.footer-container{
    margin-left: 121px;
    margin-right: 75px;
    }

.icons{
    display: flex;
}

.no_underline{
    text-decoration: none;
    color: #5a1515;
    word-wrap: normal;
    text-align: center;
}

.sub-heading{
    font-size: 13pt;
}
.logo{
    height: 107px;
    align-self: center;
    margin-top: 23px;
    margin-left: 7px;
}
.element1{
    margin-left: 7px;
}
.page-header{
    font-size: 35pt;
    color: #191970;
    margin-top: -3px;
    margin-bottom: -5px;
}
.body-image{
    width: 450px;
    height: 300px;
    border-radius: 15px;
}
.image-container{
    margin-left: 25px;
    margin-right: 20px;
    justify-items: center;
    margin-top: -5px;
   
}
.body-content{
    background-color: rgba(187, 181, 181, 0.1);
    border-radius: 9px;
    margin-bottom: 170px;
    padding-left: 5px;
}
.body-content:hover{
    background-color: rgba(252, 250, 250, 0.3);
}
.body-content h3{
    font-size: 20pt;
    margin-bottom: -20px;
}
.body-content p{
    font-size: 16pt;
}
.body-content li{
    font-size: 14pt;
}
.body-content ol{
    margin-top: 20px;
}
.body-top{
    display: flex;
    margin-bottom: -160px;
}
.about-content ol{
    font-size: 15pt;
    margin-top: -10px;
}
.about-content ul{
    font-size: 15pt;
    margin-top: -10px;
}

.floating-image{
    float: left;
    margin: 0 20px 20px 0;
    width: 500px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 7px;
    
  }
  
  .dropdown-toggle {
    background-color: rgba(102, 100, 100, 0.9);
    padding-right: 400px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color: rgba(226, 224, 224, 0.7) ;
    max-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
  }
  .dropdown-toggle::after {
    content: "\25BC"; 
    position: absolute;
    right: 10px; 
    color: #424141;
  }
  
  .dropdown-content p {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #fcfbfb;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .dropdown span{
    width: 300px;
    height: 8888px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .parents-container {
    display: flex;
    flex-wrap: wrap;
    
  }

  .childs-box {
    width: 360px;
    background-color: rgba(231, 225, 225, 0.6);
    border-radius: 9px;
    margin-right: 60px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .childs-box img{
    width: 360px;
    height: 300px;
    margin-bottom: -5px;
    border-radius: 9px;
  }
  .childs-box p{
    color: #262626;
    font-size: 14pt;
  }